.circle-chart {
    // width: 13rem;
    height: 100%;
    margin-right: 3rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-section {
        position: relative;
        @media (max-width: $sw-xs-max) {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 390px;
            margin: 0 auto 2.4rem auto;
        }
        .custom-select {
            @media (max-width: $sw-xs-max) {
                position: absolute;
                right: 0;
            }
        }
    }
    &-wrap {
        margin-top: 2.8rem;
        width: 100%;
        height: 17rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-xs-max) {
            margin-top: 1rem;
            height: auto;
        }
    }
    &-descr {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        &__item {
            width: 100%;
            text-align: left;
            & + .circle-chart-descr__item {
                margin-top: 5px;
            }
            &__name {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 1.5rem;
                line-height: 1.3;
                font-weight: 600;
                color: $dark;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.3rem;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 2px;
                    margin-right: 8px;
                }
                &.item-green {
                    &:before {
                        background-color: $green;
                    }
                }
                &.item-blue {
                    &:before {
                        background-color: $blue;
                    }
                }
            }
        }
    }
}