mixin circle-chart(data)
	.circle-chart-section
		.custom-select
			button.custom-select-trigger(type="button", data-selected="")
				span.custom-select-trigger__text Выбрать
				.custom-select-trigger__icon
					+svg('icon-chevron')
			.custom-select-list-wrap.js-scrollbar.scrollbar-inner
				ul.custom-select-list.h-reset-list
					li(data-value="7 дней") 7 дней
					li(data-value="30 дней").selected 30 дней
					li(data-value="3 месяца") 3 месяца
					li(data-value="6 месяцев") 6 месяцев
					li(data-value="1 год") 1 год
					li(data-value="2 года") 2 года
					li(data-value="3 года") 3 года
		.circle-chart-wrap
			.circle-chart.js-circle-chart
				canvas#circle-chart(width="150", height="150", data-loaded="[85, 15]", data-loaded-text="698", data-approved="[80, 20]", data-approved-text="655")
			.circle-chart-descr
				.circle-chart-descr__item
					span.circle-chart-descr__item__name.item-blue Загружено
				.circle-chart-descr__item
					span.circle-chart-descr__item__name.item-green Подошли