.custom-select {
    position: relative;
    display: inline-flex;
    z-index: 25;
    &.is-active {
        .custom-select-list-wrap {
            opacity: 1;
            visibility: visible;
            transform: none;
        }
        .custom-select-trigger__icon {
            transform: translateY(-50%) rotate(180deg);
        }
    }   
    &-trigger {
        background-color: $ghost;
        border-radius: 8px;
        padding: 10px 35px 10px 13px;
        min-width: 17rem;
        text-align: left;
        min-height: 3.2rem;
        @media (max-width: $sw-sm-max) {
            min-width: 10rem;
        }
        &__text {
            font-size: 1.4rem;
            font-weight: 600;
            color: $dark;
            line-height: 1.3;
            @media (max-width: $sw-sm-max) {
                font-size: 1.2rem;
            }
        }
        &__icon {
            position: absolute;
            right: 1.3rem;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .3s ease;
            .icon-chevron {
                font-size: 8px;
                color: $dark;    
            }
        }
    }
    &-list {
        background: #FFFFFF;
        width: 100%;
        max-height: 15.1rem !important;
        @media (max-width: $sw-sm-max) {
            max-height: 10.5rem !important;
        }
        &-wrap {
            border-radius: 8px;
            border: 1px solid $ghost;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transform: translateY(15px);
            opacity: 0;
            visibility: hidden;
            transition: transform .3s ease, visibility .3s ease, opacity .3s ease;
        }
        li {
            // font-size: 1.2rem;
            font-size: 1.4rem;
            line-height: 1.3;
            color: $dark;
            font-weight: 400;
            color: $dark;
            background-color: #fff;
            transition: background-color .3s ease;
            padding: 10px 12px;
            cursor: pointer;
            @media (max-width: $sw-sm-max) {
                font-size: 1.2rem;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    background-color: $ghost;
                }
            }
            &:first-child {
                border-radius: 8px 8px 0 0;
            }
            &:last-child {
                border-radius: 0 0 8px 8px;
            }
            &.selected {
                background-color: $ghost;
                font-weight: 600;
                color: $dark;
            }
        }
    }
}