.pagination {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        a.pagination-item {
            &:after, &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 50%;
                background-color: lighten($green, 25%);
                position: absolute;
                z-index: -1;
                opacity: 0;
                transform: none;
                transition: opacity .3s ease, transform .3s ease;
                @media (max-width: $sw-xs-max) {
                    display: none;
                }
            }
            &:before {
                top: 0;
                left: -100%;
                border-radius: 8px 8px 0 0;
            }
            &:after {
                bottom: 0;
                left: 100%;
                border-radius: 0 0 8px 8px;
            }
            &:hover {
                @media (min-width: $sw-sm-min) {
                    &:before {
                        opacity: 1;
                        transform: translateX(100%);
                    }
                    &:after {
                        opacity: 1;
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }
    &-item {
        width: 3.2rem;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1;
        border-radius: 8px;
        margin: 0 3px;
        background-color: transparent;
        transition: background-color .3s ease;
        position: relative;
        overflow: hidden;
        @media (max-width: $sw-xs-max) {
            width: 2.6rem;
            height: 2.6rem;
            font-size: 1.2rem;
            margin: 0 5px;
        }
        .icon {
            font-size: 1rem;
        }
        &.is-active {
            background-color: $green;
        }
        &--rotate {
            transform: rotate(180deg);
        }
    }
}