.tab-triggers-wrap {
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 1rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 1.2rem;
    }
}

.tab-triggers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 8px;
    @media (max-width: $sw-sm-max) {
        padding-bottom: 1rem;
    }
    &__item {
        font-size: 2rem;
        line-height: 1;
        font-weight: 600;
        color: $grey;
        flex-shrink: 0;
        position: relative;
        margin-bottom: 6px;
        transition: color .3s ease;
        @media (max-width: $sw-lg-max) {
            font-size: 1.8rem;
        }
        @media (max-width: $sw-md-max) {
            font-size: 1.6rem;
        }
        &:not(:last-child) {
            margin-right: 6rem;
            @media (max-width: $sw-sm-max) {
                margin-right: 4.5rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 3rem;
            }
        }
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: $dark;
            position: absolute;
            left: 0;
            top: calc(100% + 4px);
            transition: width .3s ease;
        }
        &.is-active {
            color: $dark;
            &:after {
                width: 100%;
            }
        }
    }
}

.tab-pane-wrapper {
    padding-top: 2rem;
}

.tab-pane {
    display: none;
    &.is-active {
        display: block;
    }
    .custom-select {
        // margin-bottom: 2.4rem;
        margin-bottom: 3rem;
    }
}