@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face(dmsans, DMSans-Regular, 400);
@include font-face(dmsans, DMSans-Medium, 500);
@include font-face(dmsans, DMSans-Bold, 600);
@include font-face(baloo, BalooBhai-Regular, 400);