.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.main-wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: flex-end;
	@media (max-width: $sw-xs-max) {
		padding: 1rem 1.6rem 0 1.6rem;
	}
	&--auth {
		justify-content: center;
		@media (max-width: $sw-xx-max) {
			align-items: center;
		}
	}
}

.main-content {
	width: calc(100% - 40rem);
	margin-right: 17rem;
	@media (max-width: $sw-sm-max) {
		width: calc(100% - 16rem);
    	margin-right: 3rem;
	}
	@media (max-width: $sw-xs-max) {
		margin-right: 0;
		width: 100%;
	}
}

.info-wrapper {
	padding-top: 5.5rem;
	display: flex;
	@media (max-width: $sw-xs-max) {
		flex-wrap: wrap;
	}
	&__side-lg {
		width: 60.5%;
		margin-right: 7rem;
		@media (max-width: $sw-sm-max) {
			margin-right: 4rem;
		}
		@media (max-width: $sw-xs-max) {
			margin-right: 0;
			width: 100%;
		}
	}
	&__side-md {
		width: calc((100% - 7rem) - 60.5%);
		@media (max-width: $sw-sm-max) {
			width: calc((100% - 4rem) - 60.5%);
		}
		@media (max-width: $sw-xs-max) {
			width: 100%;
		}
	}
	&__side-top {
		display: flex;
		align-items: flex-start;
		margin-bottom: 1.8rem;
		@media (max-width: $sw-xs-max) {
			display: none;
		}
		.noties-trigger {
			@media (max-width: $sw-xs-max) {
				display: none;
			}
		}
	}
	&__date {
		color: $dark;
		padding-left: 3rem;
		@media (max-width: $sw-lg-max) {
			padding-left: 2rem;
		}
		@media (max-width: $sw-md-max) {
			padding-left: 1.8rem;
		}
		@media (max-width: $sw-xs-max) {
			padding-left: 0;
		}
		span {
			font-weight: 600;
		}
	}
}

.dekor--blue {
	color: $blue;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $dark;
	font-weight: 600;
}

.h1 {
	font-size: 3.6rem;
	line-height: 1.3;
	@media (max-width: $sw-lg-max) {
		font-size: 3.4rem;
	}
	@media (max-width: $sw-md-max) {
		font-size: 2.4rem;
	}
	@media (max-width: $sw-xs-max) {
		font-size: 1.8rem;
	}
}

.h2 {
	font-size: 2.4rem;
	line-height: 2.6;
	@media (max-width: $sw-lg-max) {
		font-size: 2.2rem;
	}
	@media (max-width: $sw-md-max) {
		font-size: 1.8rem;
	}
	@media (max-width: $sw-xs-max) {
		font-size: 1.7rem;
	}
}

.h5 {
	font-size: 2rem;
	line-height: 1.3;
	@media (max-width: $sw-lg-max) {
		font-size: 1.8rem;
	}
	@media (max-width: $sw-md-max) {
		font-size: 1.6rem;
	}
}

p {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.3;
	margin-bottom: 2rem;
	@media (max-width: $sw-md-max) {
		font-size: 1.6rem;
	}
}

// status
.status-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: $dark;
	font-size: 1.8rem;
	line-height: 1;
	margin-bottom: 1.5rem;
	font-weight: 500;
	@media (max-width: $sw-lg-max) {
		font-size: 1.6rem;
		margin-bottom: 1.4rem;
	}
	@media (max-width: $sw-md-max) {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}
	@media (max-width: $sw-xs-max) {
		color: $grey;
	}
	&:before {
		content: '';
		display: block;
		border-radius: 50%;
		width: 1rem;
		height: 1rem;
		margin-right: 8px;
		@media (max-width: $sw-lg-max) {
			width: 8px;
			height: 8px;
			margin-right: 6px;
		}
		@media (max-width: $sw-md-max) {
			width: 6px;
			height: 6px;
			margin-right: 4px;
		}
	}
	&.is-online {
		&:before {
			background-color: $green;
		}
	}
	&.is-offline {
		&:before {
			background-color: $red;
		}
	}
}