.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arr {
  width: 0.509765625em;
}

.icon-arrow-double {
  width: 0.900390625em;
}

.icon-download-sm {
  width: 0.892578125em;
}

.icon-chevron {
  width: 1.5458984375em;
}

.icon-dollar-filled {
  width: 0.556640625em;
}

.icon-dollar-stroke {
  width: 0.556640625em;
}

.icon-download-filled {
  width: 0.7919921875em;
}

.icon-download-stroke {
  width: 0.7919921875em;
}

.icon-house-stroke {
  width: 1.029296875em;
}

.icon-house-filled {
  width: 1.0322265625em;
}

.icon-arrow {
  width: 1.5478515625em;
}

.icon-woman {
  width: 0.6279296875em;
}

.icon-man4 {
  width: 0.6298828125em;
}

.icon-man3 {
  width: 0.623046875em;
}

.icon-man2 {
  width: 0.6220703125em;
}

.icon-man {
  width: 0.6237113402061856em;
}

.icon-ring {
  width: 0.9052734375em;
}

.icon-exit {
  width: 1.3193359375em;
}

.icon-burger {
  width: 2.2392578125em;
}

.icon-atm-machine {
  width: 1.0888671875em;
}

.icon-piggy {
  width: 1.01953125em;
}