mixin count-info(data)
	.count-info
		each block in data.blocks
			.count-info__block
				.count-info__block__inner
					.count-info__block__num
						span!= block.num
					.count-info__block__descr
						.count-info__block__icon
							+svg(block.icon)
						span.count-info__block__name!= block.text