.count-info {
    display: flex;
    justify-content: flex-start;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: 6px;
    @media (max-width: $sw-sm-max) {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: 1.2rem;
    }
    &__block {
        width: calc(100% / 3);
        padding: 0 1.5rem;
        @media (max-width: $sw-sm-max) {
            padding: 0 1rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 1.6rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 0 8px;
        }
        &__inner {
            width: 100%;
            border-radius: 1.4rem;
            background-color: $ghost;
            padding: 3.2rem 2rem;
            height: 100%;
            @media (max-width: $sw-xx-max) {
                padding: 2rem 1.7rem 1.6rem 1.7rem;
            }
        }
        &__num {
            text-align: center;
            font-family: $baloo;
            margin-bottom: 1.2rem;
            font-size: 4.8rem;
            line-height: 1;
            @media (max-width: $sw-sm-max) {
                font-size: 3.5rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
        }
        &__descr {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.7;
            color: $dark;
            min-height: 46px;
            @media (max-width: $sw-xx-max) {
                font-size: 1.2rem;
                flex-wrap: wrap;
                font-weight: 600;
                text-align: center;
            }
        }
        &__name {
            max-width: 9.5rem;
        }
        &__icon {
            margin-right: 1.2rem;
            @media (max-width: $sw-xx-max) {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-right: 0;
                margin-bottom: 1rem;
            }
            .icon {
                font-size: 3.2rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.6rem;
                }
            }
            .icon-piggy {
                color: $violet;
            }
            .icon-transaction {
                color: $dark;
            }
            .icon-atm-machine {
                color: $green;
                font-size: 3rem;
            }
            .icon-multimedia {
                color: $violet;
            }
            .icon-happy {
                color: $green;
            }
            .icon-sad {
                color: $dark;
            }
        }
    }
}