mixin person-info(data)
	.person-info
		.person-info__top
			span.status-info(class='' + data.status ? data.status : '')!= data.status_text
			h1.h1!= data.title
		.person-info__balance
			span.person-info__balance__title Баланс
			span.person-info__balance__info $ 9.5
		.short-info__inner
			.short-info__line
				span.short-info__line__num 0
				span.short-info__line__descr дедиков у вас в работе
			.short-info__line
				span.short-info__line__num 13
				span.short-info__line__descr лимит дедиков
			.short-info__line
				span.short-info__line__num 1
				span.short-info__line__descr доступны к обработке
		.person-info__icon
			+svg(data.icon)
