.person-info {
    width: 100%;
    background-color: $ghost;
    border-radius: 1.4rem;
    padding: 3rem 26rem 2.5rem 3rem;
    position: relative;
    margin-bottom: 2.8rem;
    @media (max-width: $sw-md-max) {
        padding: 2.2rem 19rem 1.6rem 3rem;
    }
    @media (max-width: $sw-xs-max) {
        padding: 1.6rem;
        margin-bottom: 1.6rem;
    }
    .short-info__inner {
        display: none;
        @media (max-width: $sw-xs-max) {
            display: block;
        }
    }
    &__top {
        margin-bottom: 2.5rem;
        @media (max-width: $sw-md-max) {
            margin-bottom: 1.9rem;
        }
        @media (max-width: $sw-xs-max) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.8rem;
        }
        .h1 {
            @media (max-width: $sw-xs-max) {
                order: 0;
            }
        }
        .status-info {
            @media (max-width: $sw-xs-max) {
                order: 1;
            }
        }
    }
    &__balance {
        @media (max-width: $sw-xs-max) {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-bottom: 3rem;
        }
        &__title {
            display: block;
            margin-bottom: 6px;
            font-size: 1.8rem;
            line-height: 2;
            font-weight: 600;
            color: $dark;
            @media (max-width: $sw-lg-max) {
                font-size: 1.6rem;
            }
            @media (max-width: $sw-md-max) {
                font-size: 1.2rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 8px;
                margin-bottom: 0;
                line-height: 1;
            }
        }
        &__info {
            color: $dark;
            font-size: 3.4rem;
            line-height: 1;
            font-weight: 600;
            @media (max-width: $sw-lg-max) {
                font-size: 3rem;
            }
            @media (max-width: $sw-md-max) {
                font-size: 2.4rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.8rem;
                color: $violet;
            }
        }
    }
    &__icon {
        position: absolute;
        bottom: 0;
        right: 7rem;
        @media (max-width: $sw-lg-max) {
            right: 6rem;
        }
        @media (max-width: $sw-md-max) {
            right: 4.2rem;
        }
        @media (max-width: $sw-xs-max) {
            right: 1.8rem;
        }
        .icon {
            font-size: 26rem;
            @media (max-width: $sw-lg-max) {
                font-size: 24rem;
            }
            @media (max-width: $sw-md-max) {
                font-size: 19.2rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 10.4rem;
            }
        }
    }
}