.form-control {
	border: 1px solid #D6D6D6;
	border-radius: 8px;
	width: 100%;
	height: 4rem;
	padding: 0 1.5rem;
	font-weight: 500;
	font-size: 1.6rem;
	@media (max-width: $sw-md-max) {
		font-size: 1.4rem;
		height: 3.2rem;
	}
	@media (max-width: $sw-xs-max) {
		font-size: 1.2rem;
		padding: 0 1.2rem;
	}
	@include placeholder {
		font-weight: 500;
		font-size: 1.6rem;
		color: #D6D6D6;
		@media (max-width: $sw-md-max) {
			font-size: 1.4rem;
		}
		@media (max-width: $sw-xs-max) {
			font-size: 1.2rem;
		}
	}
	&-error-text {
		font-size: 1.4rem;
		line-height: 1.3;
		color: $red;
		position: absolute;
		top: calc(100% + 4px);
		left: 0;
		display: none;
		@media (max-width: $sw-md-max) {
			font-size: 1.2rem;
		}
		&.is-active {
			display: block;
		}
	}
}

.form__group {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 2rem;
	@media (max-width: $sw-xs-max) {
		margin-bottom: 2.5rem;
	}
	& + .form__group {
		margin-top: 4rem;
	}
}
.form__label {
	color: $dark;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.3;
	min-width: 12.5rem;
	margin-right: 1rem;
	margin-bottom: 0;
}
.input-wrap {
	position: relative;
	width: 100%;
}