.short-info {
    width: 100%;
    max-width: 45rem;
    border-radius: 1.4rem;
    background-color: $ghost;
    padding: 2.5rem;
    margin-right: 2.3rem;
    @media (max-width: $sw-lg-max) {
        padding: 2rem;
    }
    @media (max-width: $sw-md-max) {
        padding: 1.8rem;
    }
    @media (max-width: $sw-xs-max) {
        display: none;
    }
    &__line {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
            @media (max-width: $sw-md-max) {
                margin-bottom: 3px;
            }
            @media (max-width: $sw-xs-max) {
                margin-bottom: 8px;
            }
        }
        &__num {
            font-family: $baloo;
            margin-right: 2.2rem;
            font-size: 3.2rem;
            line-height: 1;
            color: $dark;
            display: inline-block;
            min-width: 3.3rem;
            text-align: center;
            @media (max-width: $sw-md-max) {
                font-size: 2.8rem;   
                min-width: 2.6rem;
                margin-right: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.8rem;
                min-width: 1.7rem;
                text-align: left;
                margin-right: 8px;
            }
        }
        &__descr {
            font-size: 1.8rem;
            line-height: 1.3;
            font-weight: 500;
            @media (max-width: $sw-md-max) {
                font-size: 1.6rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.2rem;
            }
        }
    }
}