.status-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,.8);
    z-index: 200;
    display: none;
    @media (max-width: $sw-xs-max) {
        padding: 0;
    }
    &-wrapper {
        padding: 4rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-xs-max) {
            overflow: hidden;
            overflow-y: auto;
            display: block;
            padding: 2rem 1.6rem;
            margin: auto;
        }
    }
    &-inner {
        margin: 0 auto;
        width: 100%;
        max-width: 50rem;
        border-radius: 2.4rem;
        background-color: $dark;
        padding: 2.4rem 3.2rem;
        position: relative;
        @media (max-width: $sw-xs-max) {
            padding: 2rem;
        }
    }
    &__close {
        position: absolute;
        width: 3rem;
        height: 3rem;
        right: 1.5rem;
        top: 1.5rem;
        &:hover {
            @media (min-width: $sw-sm-min) {
                .icon-close {
                    color: $violet;
                }
            }
        }
        .icon-close {
            font-size: 3rem;
            color: #ffffff;
            transition: color .3s ease;
            @media (max-width: $sw-md-max) {
                font-size: 2.3rem;
            }
        }
    }
    &__title {
        color: #ffffff;
        font-weight: 600;
        text-align: center;
        margin-bottom: 5.2rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 4rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3rem;
        }
    }
    &__save {
        display: flex;
        margin: 0 auto;
        font-size: 1.4rem;
    }
    &__form {
        margin-bottom: 3.5rem;
        margin-right: -9px;
        margin-left: -9px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.status-item {
    &-grid {
        width: 50%;
        padding: 0 9px;
        margin-bottom: 1.8rem;
        display: flex;
        @media (max-width: $sw-xx-max) {
            padding: 0;
            margin-bottom: 1.2rem;
            width: 100%;
        }
        &:nth-child(odd) {
            justify-content: flex-end;
            @media (max-width: $sw-xx-max) {
                justify-content: center;
            }
        }
        &:nth-child(even) {
            justify-content: flex-start;
            @media (max-width: $sw-xx-max) {
                justify-content: center;
            }
        }
    }
    &-label {
        input {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: -9999em;
            right: -9999em;
        }
    }
}