mixin status-popup(data)
	.status-popup
		.status-popup-wrapper
			.status-popup-inner
				button.status-popup__close(type="button")
					+svg('icon-close')
				p.h2.status-popup__title Выбор нового статуса
				form.status-popup__form(action="javascript:void(0)")
					.status-item-grid
						label.status-item-label(for="status_recheck")
							input(type="radio", name="status", id="status_recheck")
							span.btn.btn--sm.btn--yellow-bordered Перепроверка
					.status-item-grid
						label.status-item-label(for="status_approached")
							input(type="radio", name="status", id="status_approached")
							span.btn.btn--sm.btn--green-bordered Подошел
					.status-item-grid
						label.status-item-label(for="status_antivirus")
							input(type="radio", name="status", id="status_antivirus")
							span.btn.btn--sm.btn--violet-bordered Антивирусный
					.status-item-grid
						label.status-item-label(for="status_incorrect")
							input(type="radio", name="status", id="status_incorrect")
							span.btn.btn--sm.btn--red-bordered Не подошел
				button.status-popup__save.btn.btn--blue(type="button") Сохранить