.authorization {
    &-wrapper {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 11.1rem 0 5rem 0;
        @media (max-width: $sw-lg-max) {
            max-width: 1100px;
        }
        @media (max-width: $sw-md-max) {
            max-width: 920px;
        }
        @media (max-width: $sw-sm-max) {
            padding: 8rem 0 5rem 0;
        }
        @media (max-width: $sw-xs-max) {
            padding: 2rem 0;
            max-width: 600px;
            display: flex;
            align-content: center;
            flex-wrap: wrap;
        }
    }
    &-greeting {
        width: 100%;
        background-color: $ghost;
        padding: 4.4rem 63rem 4.4rem 4.4rem;
        border-radius: 1.4rem;
        position: relative;
        margin-bottom: 4rem;
        @media (max-width: $sw-lg-max) {
            padding: 4.4rem 56rem 4.4rem 4.4rem;
        }
        @media (max-width: $sw-md-max) {
            padding: 4.4rem 47rem 4.4rem 4rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2.8rem;
            padding: 2.4rem 21rem 2.4rem 2.4rem;
        }
        @media (max-width: 374px) {
            padding: 2.4rem 21rem 2.4rem 1.5rem;
        }
        .h1 {
            margin-bottom: 2rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.3rem;
            }
        }
        &__text {
            font-size: 2.2rem;
            margin-bottom: 0;
            @media (max-width: $sw-md-max) {
                font-size: 1.8rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 1.4rem;
            }
            @media (max-width: 374px) {
                font-size: 1.3rem;
            }
        }
        &__icons {
            position: absolute;
            right: 5rem;
            bottom: 0;
            @media (max-width: $sw-lg-max) {
                right: 4rem;
            }
            @media (max-width: $sw-md-max) {
                right: 3rem;
            }
            @media (max-width: $sw-xs-max) {
                right: 2.4rem;
            }
            @media (max-width: 374px) {
                right: 5px;
            }
            .icon {
                font-size: 24rem;
                @media (max-width: $sw-lg-max) {
                    font-size: 22rem;
                }
                @media (max-width: $sw-md-max) {
                    font-size: 19.2rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 10.4rem;
                }
                & + .icon {
                    margin-left: 5rem;
                    @media (max-width: $sw-lg-max) {
                        margin-left: 3.5rem;
                    }
                    @media (max-width: $sw-md-max) {
                        margin-left: 3rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        margin-left: -2.5rem;
                    }
                }
            }
        }
    }
    &-block {
        width: 43%;
        margin: 0 auto;
        border-radius: 1.4rem;
        background-color: $ghost;
        padding: 4rem 4rem 3rem 4rem;
        @media (max-width: $sw-sm-max) {
            width: 100%;
            max-width: 39.2rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 2.4rem 2.4rem;
        }
        .tab-triggers {
            &-wrap {
                margin-bottom: 3rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 1.5rem;
                }
            }
            &__item {
                @media (max-width: $sw-xs-max) {
                    font-size: 1.4rem;
                }
            }
        }
        .tab-pane-wrapper {
            padding-top: 0;
            .form__group {
                margin-bottom: 2.4rem;
            }
            .form__label {
                min-width: 9rem;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.2rem;
                    min-width: auto;
                    flex-shrink: 0;
                }
            }
            .btn {
                min-width: 12rem;
                margin: 0 auto;
                display: flex;
                @media (max-width: $sw-xs-max) {
                    min-width: auto;
                    width: 100%;
                }
            }
        }
    }
}