mixin authorization(data)
	section.authorization-wrapper
		.authorization-greeting
			h1.h1 Привет!
			p.authorization-greeting__text Присоединяйся и зарабатывай с нами!
			.authorization-greeting__icons
				+svg('icon-man2')
				+svg('icon-man')
				+svg('icon-woman')
		.authorization-block.tabs-wrapper
			.tab-triggers-wrap
				.tab-triggers
					button.tab-triggers__item.is-active(type="button", data-tab="enter-tab") Войти
					button.tab-triggers__item(type="button", data-tab="registration-tab") Зарегистироваться
			.tab-pane-wrapper
				.tab-pane#enter-tab.is-active
					form.enter-form(action="javascript:void(0)")
						.form__group
							label.form__label(for="enter_invite_key")
								span Инвайт/ключ
							.input-wrap
								input.form-control#enter_invite_key(type="text", placeholder="Например: 0db5e4b97")
						button.btn.btn--blue(type="submit") Войти
				.tab-pane#registration-tab
					form.registration-form(action="javascript:void(0)")
						.form__group
							label.form__label(for="registration_invite_key")
								span Инвайт/ключ
							.input-wrap
								input.form-control#registration_invite_key(type="text", placeholder="Например: 0db5e4b97")
						button.btn.btn--blue(type="submit") Войти
