mixin get-to-work(data)
	section.get-to-work
		h2.h1 Взять новые дедики в работу
		form.get-to-work__form(action="javascript:void(0)")
			.custom-select
				button.custom-select-trigger(type="button", data-selected="")
					span.custom-select-trigger__text Выбрать
					.custom-select-trigger__icon
						+svg('icon-chevron')
				.custom-select-list-wrap.js-scrollbar.scrollbar-inner
					ul.custom-select-list.h-reset-list
						li(data-value="Взять до 5 штук") Взять до 5 штук
						li(data-value="Взять до 10 штук").selected Взять до 10 штук
						li(data-value="Взять до 20 штук") Взять до 20 штук
						li(data-value="Взять до 30 штук") Взять до 30 штук
						li(data-value="Взять до 40 штук") Взять до 40 штук
						li(data-value="Взять до 50 штук") Взять до 50 штук
						li(data-value="Взять до 100 штук") Взять до 100 штук
			button.btn.btn--blue(type="submit") Получить
		.get-to-work__success
			+svg('icon-checkmark')
			span Вы взяли в работу 10 новых дедиков.