.get-to-work {
    margin-top: 3rem;
    @media (max-width: $sw-xx-max) {
        margin-top: 2rem;
    }
    .h1 {
        margin-bottom: 2.4rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3.5rem;
            text-align: center;
        }
    }
    &__form {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 4rem;
        @media (max-width: $sw-xx-max) {
            width: 100%;
            max-width: 21rem;
            margin: 0 auto 3rem auto;
            flex-wrap: wrap;
        }
        .custom-select {
            margin-right: 4rem;
            @media (max-width: $sw-xx-max) {
                margin-right: 0;
                margin-bottom: 2rem;
                width: 100%;
            }
            &-trigger {
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
            }
        }
        .btn {
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
    }
    &__success {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.8rem;
        line-height: 1.3;
        color: $dark;
        font-weight: 600;
        @media (max-width: $sw-md-max) {
            font-size: 1.4rem;
        }
        @media (max-width: $sw-xx-max) {
            justify-content: center;
        }
        .icon-checkmark {
            font-size: 3.2rem;
            color: $green;
            margin-right: 1rem;
            @media (max-width: $sw-md-max) {
                font-size: 2.7rem;
            }
        }
    }
}