.dediks-table {
    border: 1px solid $violet;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    &--lg {
        min-width: 950px;
    }
    &--sm {
        min-width: 850px;
    }
    th, td {
        font-weight: 500;
        line-height: 1.3;
        padding: 1.5rem 1.6rem;
        font-size: 1.6rem;
        @media (max-width: $sw-md-max) {
            padding: 1.3rem 1.6rem;
            font-size: 1.4rem;
        }
        @media (max-width: $sw-sm-max) {
            padding: 1.3rem;
            font-size: 1.3rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 1rem 1.6rem;
        }
    }
    th {
        background-color: $violet;
        color: #ffffff;
    }
    tr {
        &:first-child th:first-child {
            border-top-left-radius: 8px;
        }
        
        &:first-child th:last-child {
            border-top-right-radius: 8px;
        }
        &:last-child td:first-child {
            border-bottom-left-radius: 8px;
        }
        
        &:last-child td:last-child {
            border-bottom-right-radius: 8px;
        }
        td {
            color: $dark;
            border: 1px solid $violet;
            .icon {
                color: $violet;
                transition: color .3s ease;
            }
            .icon-download-sm {
                font-size: 1.6rem;
                margin-left: 5px;
                @media (max-width: $sw-md-max) {
                    font-size: 1.3rem;
                }
            }
            .icon-edit {
                font-size: 1.4rem;
                margin: 0 auto;
                @media (max-width: $sw-md-max) {
                    font-size: 1.1rem;
                }
            }
        }
    }
    &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: color .3s ease;
        &:hover {
            @media (min-width: $sw-sm-min) {
                color: $green;
                .icon {
                    color: $green;
                }
            }
        }
        &--download {
            padding-right: 8px;
            @media (max-width: $sw-sm-max) {
                padding-right: 0;
            }
        }
    }
    &-wrap {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        & + .scroll-element {
            &.scroll-x {
                width: 100%;
            }
            .scroll-bar {
                background-color: $violet;
            }
        }
    }
}

.finance-table-wrap {
    margin: 3.5rem 0 5rem 0;
    .dediks-table-wrap {
        margin-bottom: 3rem;
    }
}