mixin dediks-table(data)
	.tab-pane-wrapper
		.tab-pane#on-processing.is-active
			.dediks-table-wrap.js-scrollbar.scrollbar-outer
				table.dediks-table.dediks-table--lg
					tr
						th 
							span ID
						th 
							span Адрес: порт
						th 
							span Осталось времени
						th 
							span Последнее событие
						th 
							span Информация
						th 
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 5453632423
								+svg('icon-download-sm')
						td 
							span 175.152.181.46:3389;random
						td 
							span 5 дн. 12 ч. 34 мин.
						td 
							span 41 сек. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
			.pagination-wrapper
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arrow-double')
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)") 1
				span.pagination-item.is-active 2
				span.pagination-item ...
				a.pagination-item(href="javascript:void(0)") 18
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arrow-double')
		.tab-pane#recheck
			.dediks-table-wrap.js-scrollbar.scrollbar-outer
				table.dediks-table.dediks-table--lg
					tr
						th 
							span ID
						th 
							span Адрес: порт
						th 
							span Осталось времени
						th 
							span Последнее событие
						th 
							span Информация
						th 
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 5453632423
								+svg('icon-download-sm')
						td 
							span 175.152.181.46:3389;random
						td 
							span 5 дн. 12 ч. 34 мин.
						td 
							span 41 сек. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
			.pagination-wrapper
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arrow-double')
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)") 1
				span.pagination-item.is-active 2
				span.pagination-item ...
				a.pagination-item(href="javascript:void(0)") 18
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arrow-double')
		.tab-pane#recent-decisions
			.dediks-table-wrap.js-scrollbar.scrollbar-outer
				table.dediks-table.dediks-table--lg
					tr
						th 
							span ID
						th 
							span Адрес: порт
						th 
							span Осталось времени
						th 
							span Последнее событие
						th 
							span Информация
						th 
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 5453632423
								+svg('icon-download-sm')
						td 
							span 175.152.181.46:3389;random
						td 
							span 5 дн. 12 ч. 34 мин.
						td 
							span 41 сек. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
			.pagination-wrapper
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arrow-double')
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)") 1
				span.pagination-item.is-active 2
				span.pagination-item ...
				a.pagination-item(href="javascript:void(0)") 18
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arrow-double')
		.tab-pane#later-tab
			.dediks-table-wrap.js-scrollbar.scrollbar-outer
				table.dediks-table.dediks-table--lg
					tr
						th 
							span ID
						th 
							span Адрес: порт
						th 
							span Осталось времени
						th 
							span Последнее событие
						th 
							span Информация
						th 
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 5453632423
								+svg('icon-download-sm')
						td 
							span 175.152.181.46:3389;random
						td 
							span 5 дн. 12 ч. 34 мин.
						td 
							span 41 сек. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
					tr
						td
							button(type="button").dediks-table__btn.dediks-table__btn--download
								span 7568756756756
								+svg('icon-download-sm')
						td 
							span 465.152.181.46:3389;random
						td 
							span 8 дн. 12 ч. 34 мин.
						td 
							span 4 дн. 22 мин. назад
						td 
							span Не проверено модератором
						td 
							button(type="button").dediks-table__btn.js-status-popup-trigger
								+svg('icon-edit')
			.pagination-wrapper
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arrow-double')
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)") 1
				span.pagination-item.is-active 2
				span.pagination-item ...
				a.pagination-item(href="javascript:void(0)") 18
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arrow-double')