extends _includes/_extends/main

include _includes/components/c-sidebar/c-sidebar
include _includes/components/person-info/person-info
include _includes/components/short-info/short-info
include _includes/components/get-to-work/get-to-work

block head
	+head({'title':'Добавить в работу'})

block content
	+c-sidebar({
		items: [
			{stroke: 'icon-house-stroke', filled: 'icon-house-filled', name: 'Главная'},
			{active: 'is-active', stroke: 'icon-plus-stroke', filled: 'icon-plus-filled', name: 'Добавить в работу'},
			{stroke: 'icon-dollar-stroke', filled: 'icon-dollar-filled', name: 'Финансы'},
		]
	})
	main.main-content
		section.info-wrapper
			.info-wrapper__side-lg
				+person-info({
					title: 'Привет, Валера!',
					icon: 'icon-man2',
					status: 'is-online',
					status_text: 'online'
				})
			.info-wrapper__side-md
				.info-wrapper__side-top
					+short-info({
						lines: [
							{num: '0', text: 'дедиков у вас в работе'},
							{num: '13', text: 'лимит дедиков'},
							{num: '1', text: 'доступны к обработке'}
						]
					})
					button.noties-trigger.active.js-noties-trigger(type="button")
						+svg('icon-ring')
		+get-to-work()