extends _includes/_extends/main

include _includes/components/c-sidebar/c-sidebar
include _includes/components/dediks-info/dediks-info
include _includes/components/dediks-table/dediks-table
include _includes/components/status-popup/status-popup

block head
	+head({'title':'Дедики'})

block content
	+c-sidebar({
		items: [
			{stroke: 'icon-house-stroke', filled: 'icon-house-filled', name: 'Главная'},
			{active: 'is-active', stroke: 'icon-download-stroke', filled: 'icon-download-filled', name: 'Дедики'},
			{stroke: 'icon-plus-stroke', filled: 'icon-plus-filled', name: 'Добавить в работу'},
			{stroke: 'icon-dollar-stroke', filled: 'icon-dollar-filled', name: 'Финансы'},
		]
	})
	main.main-content
		section.dediks-info.tabs-wrapper
			+dediks-info()
			+dediks-table()

block beforescripts
	+status-popup()