extends _includes/_extends/main

include _includes/components/c-sidebar/c-sidebar
include _includes/components/person-info/person-info
include _includes/components/short-info/short-info
include _includes/components/count-info/count-info
include _includes/components/dediks-withdraw/dediks-withdraw

block head
	+head({'title':'Финансы'})

block content
	+c-sidebar({
		items: [
			{stroke: 'icon-house-stroke', filled: 'icon-house-filled', name: 'Главная'},
			{stroke: 'icon-download-stroke', filled: 'icon-download-filled', name: 'Дедики'},
			{stroke: 'icon-plus-stroke', filled: 'icon-plus-filled', name: 'Добавить в работу'},
			{active: 'is-active', stroke: 'icon-dollar-stroke', filled: 'icon-dollar-filled', name: 'Финансы'},
		]
	})
	main.main-content
		section.info-wrapper
			.info-wrapper__side-lg
				+person-info({
					title: 'Привет, Казимира!',
					icon: 'icon-woman',
					status: 'is-offline',
					status_text: 'offline'
				})
				+count-info({
					blocks: [
						{num: '2131 $', icon: 'icon-piggy', text: 'Ваш баланс'},
						{num: '31 $', icon: 'icon-transaction', text: 'Сумма, ожидающая вывода'},
						{num: '50 $', icon: 'icon-atm-machine', text: 'Ранее было выведено'}
					]
				})
			.info-wrapper__side-md
				.info-wrapper__side-top
					+short-info({
						lines: [
							{num: '0', text: 'дедиков у вас в работе'},
							{num: '13', text: 'лимит дедиков'},
							{num: '1', text: 'доступны к обработке'}
						]
					})
					button.noties-trigger.active.js-noties-trigger(type="button")
						+svg('icon-ring')
				+dediks-withdraw()
		.finance-table-wrap
			.dediks-table-wrap.js-scrollbar.scrollbar-outer
				table.dediks-table.dediks-table--sm
					tr
						th 
							span ID
						th 
							span Дата
						th 
							span Сумма
						th 
							span BTC кошелёк
						th 
							span Информация
						th
							span Операции
					tr
						td
							span 5453632423
						td 
							span 02:27 14.01.2019
						td 
							span 1 502.00
						td 
							span 587e268d663aba1a
						td 
							span Не проверено модератором
						td 
							span -
					tr
						td
							span 5453632423
						td 
							span 02:27 14.01.2019
						td 
							span 1 502.00
						td 
							span 587e268d663aba1a
						td 
							span Отклонено
						td 
							span -
					tr
						td
							span 5453632423
						td 
							span 02:27 14.01.2019
						td 
							span 1 502.00
						td 
							span 587e268d663aba1a
						td 
							span Не проверено модератором
						td 
							span -
					tr
						td
							span 5453632423
						td 
							span 02:27 14.01.2019
						td 
							span 1 502.00
						td 
							span 587e268d663aba1a
						td 
							span Отклонено
						td 
							span -
					tr
						td
							span 5453632423
						td 
							span 02:27 14.01.2019
						td 
							span 1 502.00
						td 
							span 587e268d663aba1a
						td 
							span Не проверено модератором
						td 
							span -
					tr
						td
							span 5453632423
						td 
							span 02:27 14.01.2019
						td 
							span 1 502.00
						td 
							span 587e268d663aba1a
						td 
							span Отклонено
						td 
							span -
					tr
						td
							span 5453632423
						td 
							span 02:27 14.01.2019
						td 
							span 1 502.00
						td 
							span 587e268d663aba1a
						td 
							span Отклонено
						td 
							span -
			.pagination-wrapper
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arrow-double')
				a.pagination-item.pagination-item--rotate(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)") 1
				span.pagination-item.is-active 2
				span.pagination-item ...
				a.pagination-item(href="javascript:void(0)") 18
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arr')
				a.pagination-item(href="javascript:void(0)")
					+svg('icon-arrow-double')