extends _includes/_extends/main

include _includes/components/c-sidebar/c-sidebar
include _includes/components/person-info/person-info
include _includes/components/short-info/short-info
include _includes/components/count-info/count-info
include _includes/components/circle-chart/circle-chart
include _includes/components/bar-chart/bar-chart

block head
	+head({'title':'Работник'})

block content
	+c-sidebar({
		items: [
			{active: 'is-active', stroke: 'icon-house-stroke', filled: 'icon-house-filled', name: 'Главная'},
			{stroke: 'icon-download-stroke', filled: 'icon-download-filled', name: 'Дедики'},
			{stroke: 'icon-plus-stroke', filled: 'icon-plus-filled', name: 'Добавить в работу'},
			{stroke: 'icon-dollar-stroke', filled: 'icon-dollar-filled', name: 'Финансы'},
		]
	})
	main.main-content
		section.info-wrapper
			.info-wrapper__side-lg
				+person-info({
					title: 'Привет, Казимир!',
					icon: 'icon-man',
					status: 'is-offline',
					status_text: 'offline'
				})
				+count-info({
					blocks: [
						{num: '611', icon: 'icon-multimedia', text: 'Загружено <br> дедиков'},
						{num: '610', icon: 'icon-happy', text: 'Подошли'},
						{num: '1', icon: 'icon-sad', text: 'Не подошли'}
					]
				})
			.info-wrapper__side-md
				.info-wrapper__side-top
					+short-info({
						lines: [
							{num: '0', text: 'дедиков у вас в работе'},
							{num: '13', text: 'лимит дедиков'},
							{num: '1', text: 'доступны к обработке'}
						]
					})
					button.noties-trigger.active.js-noties-trigger(type="button")
						+svg('icon-ring')
				+circle-chart()
		+bar-chart()

	//- +svg('icon-edit')
	//- +svg('icon-exit')
	//- +svg('icon-happy')
	//- +svg('icon-plus')
	//- +svg('icon-arrow')
	//- +svg('icon-download')
	//- +svg('icon-download-sm')
	//- +svg('icon-ring')
	//- +svg('icon-multimedia')
	//- +svg('icon-close')
	//- +svg('icon-sad')
	//- +svg('icon-dollar')
	//- +svg('icon-house')
	//- +svg('icon-man')
	//- +svg('icon-man2')
	//- +svg('icon-man3')
	//- +svg('icon-man4')
	//- +svg('icon-woman')
	//- +svg('icon-checkmark')