extends _includes/_extends/main

include _includes/components/c-sidebar/c-sidebar
include _includes/components/person-info/person-info
include _includes/components/short-info/short-info
include _includes/components/count-info/count-info
include _includes/components/bar-chart/bar-chart
include _includes/components/file-load/file-load

block head
	+head({'title':'Поставщик'})

block content
	+c-sidebar({
		items: [
			{active: 'is-active', stroke: 'icon-house-stroke', filled: 'icon-house-filled', name: 'Главная'},
			{stroke: 'icon-plus-stroke', filled: 'icon-plus-filled', name: 'Добавить в работу'},
			{stroke: 'icon-dollar-stroke', filled: 'icon-dollar-filled', name: 'Финансы'},
		]
	})
	main.main-content
		section.info-wrapper
			.info-wrapper__side-lg
				+person-info({
					title: 'Привет, Валера!',
					icon: 'icon-man2',
					status: 'is-online',
					status_text: 'online'
				})
				+count-info({
					blocks: [
						{num: '611', icon: 'icon-multimedia', text: 'Загружено <br> дедиков'},
						{num: '610', icon: 'icon-happy', text: 'Подошли'},
						{num: '1', icon: 'icon-sad', text: 'Не подошли'}
					]
				})
			.info-wrapper__side-md
				.info-wrapper__side-top
					+short-info({
						lines: [
							{num: '25', text: 'всего записей'},
							{num: '13', text: 'добавлено'},
							{num: '12', text: 'дубликатов'}
						]
					})
					button.noties-trigger.active.js-noties-trigger(type="button")
						+svg('icon-ring')
				p.info-wrapper__date #[span.dekor--blue Дата:] #[time 02:27 14.01.2019]
				+file-load()
		+bar-chart()