button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    border: none;
    height: 5rem;
    padding: 0 1.8rem;
    transition: background-color .3s ease, color .3s ease;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 500;
    border-radius: 8px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &[disabled] {
        opacity: 0.2;
        cursor: default;
    }
    &--sm {
        height: auto;
        padding: 6px 1.2rem;
    }
    &--blue {
        font-weight: 600;
        color: #ffffff !important;
        background-color: $violet;
        &:not([disabled]):hover {
            @media (min-width: $sw-sm-min) {
                background-color: lighten($violet, 5%);
            }
        }
        &:not([disabled]):active {
            background-color: lighten($violet, 10%);
        }
    }
    &--yellow {
        &-bordered {
            border: 1px solid $yellow;
            color: $yellow !important;
            input:checked + & {
                background-color: $yellow;
                color: $dark !important;
            }
        }
    }
    &--green {
        &-bordered {
            border: 1px solid $green;
            color: $green !important;
            input:checked + & {
                background-color: $green;
                color: $dark !important;
            }
        }
    }
    &--violet {
        &-bordered {
            border: 1px solid $dark-violet;
            color: $dark-violet !important;
            input:checked + & {
                background-color: $dark-violet;
                color: $dark !important;
            }
        }
    }
    &--red {
        &-bordered {
            border: 1px solid $red;
            color: $red !important;
            input:checked + & {
                background-color: $red;
                color: $dark !important;
            }
        }
    }
}