// noties
.noties-trigger {
	position: relative;
	margin-left: auto;
	width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
	align-items: center;
	@media (max-width: $sw-xs-max) {
		display: none;
	}
	&:after {
		content: '';
		display: block;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		background-color: $red;
		position: absolute;
		top: 3px;
		right: 3px;
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s ease, visibility .2s ease;
	}
	&.active {
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	.icon-ring {
		font-size: 2.4rem;
		color: $dark;
	}
}

.noties {
	&-wrapper {
		position: fixed;
		width: 18.2rem;
		background-color: $dark;
		border-radius: 2.4rem;
		top: 2.5rem;
		bottom: 2.5rem;
		right: -18.2rem;
		z-index: 50;
		opacity: 0;
		visibility: hidden;
		transform: none;
		transition: transform .5s ease, opacity .5s ease, visibility .5s ease;
		padding: 7rem 0;
		@media (max-width: $sw-sm-max) {
			top: 2rem;
			bottom: 2rem;
		}
		@media (max-width: $sw-xs-max) {
			width: calc(100% - 80px);
			top: 58px;
			right: 62px;
			left: auto;
			bottom: auto;
			border-radius: 8px;
			transform: translateY(calc(-100% - 58px));
			padding: 0 4.6rem 0 0;
		}
		@media (max-width: 374px) {
			width: calc(100% - 40px);
			right: 20px;
		}
		&.is-active {
			transform: translateX(-20rem);
			opacity: 1;
			visibility: visible;
			@media (max-width: $sw-xs-max) {
				transform: none;
			}
		}
	}
	&-close {
		width: 3rem;
		height: 3rem;
		position: absolute;
		top: 9px;
		right: 9px;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon-close {
			color: #ffffff;
			font-size: 2.3rem;
		}
	}
	&-inner {
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-y: auto;
		@media (max-width: $sw-xs-max) {
			border-right: 1px solid $grey;
			max-height: calc(100vh - 70px);
		}
	}
	&-item {
		padding: 4px 0 4px 1.6rem;
		text-decoration: none;
		display: block;
		width: 100%;
		@media (max-width: $sw-xs-max) {
			border-top: none;
			border-bottom: none;
			padding: 8px 0 8px 1.6rem;
		}
		&:hover {
			@media (min-width: $sw-sm-min) {
				.noties-item__title {
					color: $violet;
				}
			}
		}
		&-wrap {
			position: relative;
			padding-right: 2.5rem;
			border-top: 1px solid $grey;
			border-bottom: 1px solid $grey;
			& + .noties-item-цкфз {
				border-top: none;
				@media (max-width: $sw-xs-max) {
					border-top: 1px solid $grey;
				}
			}
		}
		&__delete {
			position: absolute;
			width: 1.8rem;
			height: 1.8rem;
			right: 2px;
			top: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			.icon-close {
				color: #ffffff;
				font-size: 1.4rem;
			}
		}
		&__title {
			margin-bottom: 4px;
			color: #ffffff;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.4;
			transition: color .3s ease;
		}
		&__time {
			color: $grey;
			font-size: 1rem;
			line-height: 1.4;
			font-weight: 400;
			margin-bottom: 0;
		}
	}
}