mixin notifications(data)
	.noties-wrapper
		button.noties-close.js-noties-close(type="button")
			+svg('icon-close')
		.noties-inner.js-scrollbar.scrollbar-inner
			.noties-item-wrap
				button.noties-item__delete.js-noties-delete(type="button")
					+svg('icon-close')
				a.noties-item(href="javascript:void(0)")
					p.noties-item__title 15 дедиков отправлено на переработку
					time.noties-item__time 05.11.20
			.noties-item-wrap
				button.noties-item__delete.js-noties-delete(type="button")
					+svg('icon-close')
				a.noties-item(href="javascript:void(0)")
					p.noties-item__title 4 дедика доступно к обработке
					time.noties-item__time 01.11.20