mixin dediks-info(data)
	.dediks-info__top
		.tab-triggers-wrap
			.tab-triggers
				button.tab-triggers__item.is-active(type="button", data-tab="on-processing") На обработке (1)
				button.tab-triggers__item(type="button", data-tab="recheck") Перепроверка (0)
				button.tab-triggers__item(type="button", data-tab="recent-decisions") Последние решения (0)
				button.tab-triggers__item(type="button", data-tab="later-tab") Later
		button.noties-trigger.active.js-noties-trigger(type="button")
			+svg('icon-ring')
	.dediks-info__filters-wrap
		button.btn.btn--blue(type="button") Открыть для копирования
		.dediks-info__filters
			span.dediks-info__filters__title Показать
			label.dediks-info__filters__label(for="show_10")
				span.dediks-info__filters__label__name 10
				input(type="radio", name="show-count", id="show_10", checked)
				span.dediks-info__filters__label__circle
			label.dediks-info__filters__label(for="show_20")
				span.dediks-info__filters__label__name 20
				input(type="radio", name="show-count", id="show_20")
				span.dediks-info__filters__label__circle
			label.dediks-info__filters__label(for="show_30")
				span.dediks-info__filters__label__name 30
				input(type="radio", name="show-count", id="show_30")
				span.dediks-info__filters__label__circle