.dediks-info {
    width: 100%;
    padding: 5.5rem 0 3rem 0;
    @media (max-width: $sw-xs-max) {
        padding-top: 8rem 0 3rem 0;
    }
    .dediks-table-wrap {
        margin-bottom: 4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
        }
    }
    .scrollbar-outer > .scroll-element, .scrollbar-outer > .scroll-element div {
        @media (max-width: $sw-sm-max) {
            opacity: 1;
        }
    }
    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        @media (max-width: $sw-md-max) {
            margin-bottom: 1.6rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 0;
        }
        .noties-trigger {
            margin-left: 2rem;
            margin-top: 5px;
        }
        .tab-triggers__item {
            &:not(.is-active) {
                @media (max-width: $sw-xx-max) {
                    color: $violet;
                }
            }
        }
    }
    &__filters {
        display: flex;
        align-items: center;
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
        &-wrap {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 2.4rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.6rem;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            .btn {
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 2rem;
                }
            }
        }
        &__title {
            font-size: 1.6rem;
            line-height: 1.3;
            display: inline-block;
            margin-right: 1.5rem;
            color: $dark;
            @media (max-width: $sw-md-max) {
                margin-right: 1.2rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 1.6rem;
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
        &__label {
            margin-right: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $sw-md-max) {
                margin-right: 1.2rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 2rem;
            }
            input {
                opacity: 0;
                visibility: hidden;
                width: 0;
                height: 0;
                position: absolute;
                left: -999999em;
                top: -99999em;
                &:checked {
                    & + .dediks-info__filters__label__circle {
                        &:after {
                            transform: translate(-50%,-50%) scale(1);
                        }
                    }
                }
            }
            &__name {
                font-size: 1.6rem;
                line-height: 1.3;
                display: inline-block;
                margin-right: 5px;
                color: $dark;
                @media (max-width: $sw-md-max) {
                    margin-right: 2px;
                }
                @media (max-width: $sw-xs-max) {
                    margin-right: 8px;
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }
            &__circle {
                width: 1.6rem;
                height: 1.6rem;
                background: $ghost;
                border: 1px solid $grey;
                position: relative;
                display: block;
                flex-shrink: 0;
                border-radius: 50%;
                @media (max-width: $sw-md-max) {
                    width: 1.2rem;
                    height: 1.2rem;
                }
                @media (max-width: $sw-xs-max) {
                    width: 2.8rem;
                    height: 2.8rem;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $green;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: transform .3s ease;
                    transform: translate(-50%,-50%) scale(0);
                    @media (max-width: $sw-xs-max) {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }
            }
        }
    }
}