.dediks-withdraw {
    .h2 {
        margin-bottom: 2rem;
        @media (max-width: $sw-xs-max) {
            text-align: center;
        }
    }
    &__form {
        @media (max-width: $sw-xs-max) {
            width: 100%;
            max-width: 400px;
            margin: 0 auto 3rem auto;
        }
        .btn {
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
        }
        .form__group {
            @media (max-width: 1199px) {
                flex-wrap: wrap;
            }
        }
        .form__label {
            @media (max-width: 1199px) {
                width: 100%;
                min-width: auto;
                margin-bottom: 1rem;
                margin-right: 0;
            }
        }
    }
}