mixin dediks-withdraw(data)
	.dediks-withdraw
		h2.h2 Вывести с баланса
		form.dediks-withdraw__form(action="javascript:void(0)")
			.form__group
				label.form__label(for="withdrawal_amount")
					span Сумма вывода, $
				.input-wrap
					input.form-control#withdrawal_amount(type="text", placeholder="Например: 107.52")
					span.form-control-error-text.is-active Минимальная сумма вывода: 50 $
			.form__group
				label.form__label(for="withdrawal_wallet")
					span Кошелёк BTC
				.input-wrap
					input.form-control#withdrawal_wallet(type="text")
			button.btn.btn--blue(type="submit") Создать запрос
