

$white:    #fff;
$black:    #000;
$dark: #383838;
$red: #F45B5B;
$green: #47DA79;
$ghost: #F5F5F7;
$grey: #898989;
$violet: #536EDC;
$dark-violet: #978BD5;
$yellow: #FFEA33;


$body-bg:                   $white;
$body-color:                $dark;


$link-color:                              $dark;
$link-decoration:                         none;
$link-hover-color:                        inherit;
$link-hover-decoration:                   none;


$paragraph-margin-bottom:   1rem;

$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 992px;
$sw-md-min: 1440px;
$sw-lg-min: 1700px;
$sw-xl-min: 1920px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;
$sw-lg-max:$sw-xl-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min,
  xll: $sw-xl-min
);

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1620px,
  xll: 1920px
);


$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;


// fonts
$dmsans: 'dmsans', sans-serif;
$baloo: 'baloo', sans-serif;

$font-family-sans-serif:      $dmsans;
$font-family-monospace:       $dmsans;
$font-family-base:            $font-family-sans-serif;

