.file-load {
    margin-top: 5rem;
    @media (max-width: $sw-xs-max) {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .h5 {
        margin-bottom: 2.6rem;
    }
    input {
        display: none;
    }
    .btn {
        margin-top: 1.4rem;
    }
    &__label {
        font-size: 1.4em;
        color: $dark;
        line-height: 1.3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1.4rem;
        cursor: pointer;
        transition: color .3s ease;
        &:hover {
            @media (min-width: $sw-sm-min) {
                color: $blue;
            }
        }
        .icon-download-stroke {
            font-size: 2.6rem;
            margin-right: 1.3rem;
        }
    }
    &__text {
        font-size: 1.5rem;
        color: $green;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 0;
    }
}