mixin file-load(data)
	form(action="javascript:void(0)").file-load
		h5.h5 Загрузка
		input#file-load__input(type="file", name="load-file")
		label.file-load__label(for="file-load__input")
			+svg('icon-download-stroke')
			span Выберите файл для загрузки
		p.file-load__text
		button.btn.btn--blue(type="submit", disabled) Загрузить