mixin bar-chart(data)
	section.horizontal-chart-section.tabs-wrapper
		.tab-triggers-wrap
			.tab-triggers
				button.tab-triggers__item.is-active(type="button", data-tab="statistic") Статистика
				button.tab-triggers__item(type="button", data-tab="new-dediks") Новые дедики
				button.tab-triggers__item(type="button", data-tab="aprooved-dediks") Подошли (610)
				button.tab-triggers__item(type="button", data-tab="not-aprroved-dediks") Не подошли (1)
				button.tab-triggers__item(type="button", data-tab="description") Описание
		.tab-pane-wrapper
			.tab-pane#statistic.is-active
				.custom-select
					button.custom-select-trigger(type="button", data-selected="")
						span.custom-select-trigger__text Выбрать
						.custom-select-trigger__icon
							+svg('icon-chevron')
					.custom-select-list-wrap.js-scrollbar.scrollbar-inner
						ul.custom-select-list.h-reset-list
							li(data-value="Все время").selected Все время
							li(data-value="30 дней") 30 дней
							li(data-value="3 месяца") 3 месяца
							li(data-value="6 месяцев") 6 месяцев
							li(data-value="1 год") 1 год
							li(data-value="2 года") 2 года
							li(data-value="3 года") 3 года
				.horizontal-chart-wrap.js-scrollbar.scrollbar-outer
					.horizontal-chart.js-vertical-chart
						canvas(data-loaded=JSON.stringify([18, 27, 39, 6, 12, 18, 3, 28, 34, 34, 15]), data-approved=JSON.stringify([16, 27, 35, 6, 10, 16, 3, 25, 34, 30, 12]), data-groupTitles=JSON.stringify(["04.01.18", "26.03.18", "20.05.18", "28.06.18", "14.07.18", "09.08.18", "21.09.18", "30.10.18", "09.11.18", "03.12.18", "01.01.19"]), data-valueColor='rgba(185,69,82,1)')
				.horizontal-chart-descr
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-blue Загружено
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-green Подошли
			.tab-pane#new-dediks
				.custom-select
					button.custom-select-trigger(type="button", data-selected="")
						span.custom-select-trigger__text Выбрать
						.custom-select-trigger__icon
							+svg('icon-chevron')
					.custom-select-list-wrap.js-scrollbar.scrollbar-inner
						ul.custom-select-list.h-reset-list
							li(data-value="Все время").selected Все время
							li(data-value="30 дней") 30 дней
							li(data-value="3 месяца") 3 месяца
							li(data-value="6 месяцев") 6 месяцев
							li(data-value="1 год") 1 год
							li(data-value="2 года") 2 года
							li(data-value="3 года") 3 года
				.horizontal-chart-wrap.js-scrollbar.scrollbar-outer
					.horizontal-chart.js-vertical-chart
						canvas(data-loaded=JSON.stringify([18, 27, 39, 6, 12, 18, 3, 28, 34, 34, 15]), data-approved=JSON.stringify([16, 27, 35, 6, 10, 16, 3, 25, 34, 30, 12]), data-groupTitles=JSON.stringify(["04.01.18", "26.03.18", "20.05.18", "28.06.18", "14.07.18", "09.08.18", "21.09.18", "30.10.18", "09.11.18", "03.12.18", "01.01.19"]), data-valueColor='rgba(185,69,82,1)')
				.horizontal-chart-descr
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-blue Загружено
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-green Подошли
			.tab-pane#aprooved-dediks
				.custom-select
					button.custom-select-trigger(type="button", data-selected="")
						span.custom-select-trigger__text Выбрать
						.custom-select-trigger__icon
							+svg('icon-chevron')
					.custom-select-list-wrap.js-scrollbar.scrollbar-inner
						ul.custom-select-list.h-reset-list
							li(data-value="Все время").selected Все время
							li(data-value="30 дней") 30 дней
							li(data-value="3 месяца") 3 месяца
							li(data-value="6 месяцев") 6 месяцев
							li(data-value="1 год") 1 год
							li(data-value="2 года") 2 года
							li(data-value="3 года") 3 года
				.horizontal-chart-wrap.js-scrollbar.scrollbar-outer
					.horizontal-chart.js-vertical-chart
						canvas(data-loaded=JSON.stringify([18, 27, 39, 6, 12, 18, 3, 28, 34, 34, 15]), data-approved=JSON.stringify([16, 27, 35, 6, 10, 16, 3, 25, 34, 30, 12]), data-groupTitles=JSON.stringify(["04.01.18", "26.03.18", "20.05.18", "28.06.18", "14.07.18", "09.08.18", "21.09.18", "30.10.18", "09.11.18", "03.12.18", "01.01.19"]), data-valueColor='rgba(185,69,82,1)')
				.horizontal-chart-descr
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-blue Загружено
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-green Подошли
			.tab-pane#not-aprroved-dediks
				.custom-select
					button.custom-select-trigger(type="button", data-selected="")
						span.custom-select-trigger__text Выбрать
						.custom-select-trigger__icon
							+svg('icon-chevron')
					.custom-select-list-wrap.js-scrollbar.scrollbar-inner
						ul.custom-select-list.h-reset-list
							li(data-value="Все время").selected Все время
							li(data-value="30 дней") 30 дней
							li(data-value="3 месяца") 3 месяца
							li(data-value="6 месяцев") 6 месяцев
							li(data-value="1 год") 1 год
							li(data-value="2 года") 2 года
							li(data-value="3 года") 3 года
				.horizontal-chart-wrap.js-scrollbar.scrollbar-outer
					.horizontal-chart.js-vertical-chart
						canvas(data-loaded=JSON.stringify([18, 27, 39, 6, 12, 18, 3, 28, 34, 34, 15]), data-approved=JSON.stringify([16, 27, 35, 6, 10, 16, 3, 25, 34, 30, 12]), data-groupTitles=JSON.stringify(["04.01.18", "26.03.18", "20.05.18", "28.06.18", "14.07.18", "09.08.18", "21.09.18", "30.10.18", "09.11.18", "03.12.18", "01.01.19"]), data-valueColor='rgba(185,69,82,1)')
				.horizontal-chart-descr
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-blue Загружено
					.horizontal-chart-descr__item
						span.horizontal-chart-descr__item__name.item-green Подошли
			.tab-pane#description
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt natus architecto mollitia velit illo, veniam aliquid, ratione officia provident voluptatum quos sapiente dignissimos minus veritatis sed deserunt, voluptatem fugiat nulla! Velit, autem est? Eligendi, vitae nobis iusto autem doloremque iure. Beatae non voluptate aspernatur quia esse corporis provident natus. Hic!
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt natus architecto mollitia velit illo, veniam aliquid, ratione officia provident voluptatum quos sapiente dignissimos minus veritatis sed deserunt, voluptatem fugiat nulla! Velit, autem est? Eligendi, vitae nobis iusto autem doloremque iure. Beatae non voluptate aspernatur quia esse corporis provident natus. Hic!
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt natus architecto mollitia velit illo, veniam aliquid, ratione officia provident voluptatum quos sapiente dignissimos minus veritatis sed deserunt, voluptatem fugiat nulla! Velit, autem est? Eligendi, vitae nobis iusto autem doloremque iure. Beatae non voluptate aspernatur quia esse corporis provident natus. Hic!