.horizontal-chart {
    margin-bottom: 2.5rem;
    @media (max-width: $sw-xs-max) {
        min-width: 990px;
        margin-bottom: 2rem;
    }
    canvas {
        height: 34rem !important;
        @media (max-width: $sw-lg-max) {
            height: 32rem !important;
        }
        @media (max-width: $sw-md-max) {
            height: 26rem !important;
        }
        @media (max-width: $sw-sm-max) {
            height: 22rem !important;
        }
        @media (max-width: $sw-xs-max) {
            height: 22rem !important;
        }
    }
    &-section {
        width: 100%;
        padding-bottom: 2.5rem;
        margin-top: 3rem;
        @media (max-width: $sw-sm-max) {
            padding-bottom: 4rem;
        }
    }
    &-wrap {
        overflow: visible;
        @media (max-width: $sw-xs-max) {
            overflow: hidden;
            overflow-x: auto;
        }
    }
    &-descr {
        margin-left: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-xs-max) {
            margin-top: 1.5rem;
            margin-left: 0;
        }
        &__item {
            text-align: left;
            & + .horizontal-chart-descr__item {
                margin-left: 2.3rem;
            }
            &__name {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 1.5rem;
                line-height: 1.3;
                font-weight: 600;
                color: $dark;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.3rem;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 2px;
                    margin-right: 8px;
                }
                &.item-green {
                    &:before {
                        background-color: $green;
                    }
                }
                &.item-blue {
                    &:before {
                        background-color: $blue;
                    }
                }
            }
        }
    }
}