.nav-menu {
    background-color: $dark;
    width: 9.8rem;
    border-radius: 2.4rem;
    position: fixed;
    top: 2.5rem;
    bottom: 2.5rem;
    left: 5rem;
    z-index: 70;
    transform: none;
    transition: width .3s ease, transform .3s ease;
    @media (max-width: $sw-sm-max) {
        width: 8rem;
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
    }
    @media (max-width: $sw-xs-max) {
        left: 0;
        top: 0;
        bottom: auto;
        width: 100% !important;
        height: 5.6rem;
        border-radius: 0 0 2.4rem 2.4rem;
        transition: unset;
    }
    &.is-opened {
        width: 18.2rem;
        transform: translateX(-3.2rem);
        @media (max-width: $sw-sm-max) {
            width: 16.2rem;
            transform: none;
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 8rem 3.4rem 6rem 3.4rem;
        @media (max-width: $sw-sm-max) {
            padding: 4rem 2.5rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 0 1.8rem;
            flex-direction: row;
            flex-wrap: unset;
            justify-content: space-between;
        }
    }
    &__side {
        @media (max-width: $sw-xs-max) {
            display: flex;
            align-items: center;
        }
        &.bottom-side {
            margin-top: auto;
            @media (max-width: $sw-xs-max) {
                margin-top: 0;
            }
            .nav-menu__list__item {
                .icon{
                    @media (max-width: $sw-xs-max) {
                        color: #ffffff;
                    }
                }
                &__name {
                    @media (max-width: $sw-xs-max) {
                        display: none;
                    }
                }
            }
        }
        .noties-trigger {
            display: none;
            margin-right: 2.3rem;
            @media (max-width: $sw-xs-max) {
                display: flex !important;
                flex-shrink: 0;
            }
            .icon-ring {
                color: #ffffff;
            }
        }
    }
    &__home {
        margin-right: 1.8rem;
        display: none;
        @media (max-width: $sw-xs-max) {
            display: flex;
            align-items: center;
        }
        .icon-house-filled {
            font-size: 2.6rem;
            color: #ffffff;
        }
    }
    &__resizer {
        margin-bottom: 9.2rem;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 6rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 0;
            display: none;
        }
        &.is-active {
            .icon-arrow {
                transform: rotate(180deg);
            }
        }
        .icon-arrow {
            transform: none;
            font-size: 2rem;
            color: #ffffff;
            transition: transform .3s ease;
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
        }
    }
    &__trigger {
        display: none;
        @media (max-width: $sw-xs-max) {
            display: flex;
            align-items: center;
        }
        .icon-burger {
            color: #ffffff;
            font-size: 1.4rem;
        }
    }
    &__list {
        width: 100%;
        @media (max-width: $sw-xs-max) {
            padding-left: 6.2rem;
        }
        @media (max-width: 374px) {
            padding-left: 3rem;
        }
        &-wrap {
            @media (max-width: $sw-xs-max) {
                position: fixed;
                width: 100%;
                max-width: 450px;
                height: 100%;
                left: -460px;
                top: 0;
                z-index: 100;
                background-color: #fff;
                display: flex;
                align-items: flex-start;
                padding-top: 11rem;
                box-shadow: 1px 12px 10px rgba(136, 136, 136, 0.6);
                transition: transform .5s ease;
                transform: none;
            }
            @media (max-width: 374px) {
                padding-top: 7rem;
            }
            &.is-active {
                @media (max-width: $sw-xs-max) {
                    transform: translateX(460px);
                }
            }
        }
        &__close {
            display: none;
            @media (max-width: $sw-xs-max) {
                display: block;
                position: absolute;
                width: 3rem;
                height: 3rem;
                top: 2.8rem;
                right: 2.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .icon-close {
                color: $dark;
                font-size: 2.3rem;
            }
        }
        &__item {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            &:not(.is-active):hover {
                @media (min-width: $sw-sm-min) {
                    .icon-stroke {
                        opacity: 0;
                    }
                    .icon-filled {
                        opacity: 1;
                    }
                }
            }
            &.item-log-out {
                display: none;
                @media (max-width: $sw-xs-max) {
                    display: flex;
                    margin-top: 12.5rem !important;
                }
                @media (max-width: 374px) {
                    margin-top: 7rem !important;
                }
            }
            & + .nav-menu__list__item {
                margin-top: 4.7rem;
                @media (max-width: $sw-sm-max) {
                    margin-top: 4rem;
                }
                @media (max-width: 374px) {
                    margin-top: 3.5rem;
                }
            }
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            &__icon {
                width: 3rem;
                height: 3rem;
                position: relative;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .icon-filled, .icon-stroke {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: opacity .3s ease;
                    @media (max-width: $sw-xs-max) {
                        left: 0;
                        transform: translate(0, -50%);
                    }
                }
                .icon-stroke {
                    opacity: 1;
                    .nav-menu__list__item.is-active & {
                        opacity: 0;
                    }
                }
                .icon-filled {
                    opacity: 0;
                    .nav-menu__list__item.is-active & {
                        opacity: 1;
                    }
                }
            }
            .icon {
                color: #ffffff;
                @media (max-width: $sw-xs-max) {
                    color: $dark;
                }
                &-house-stroke, &-house-filled {
                    font-size: 2.6rem;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.3rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 2.6rem;
                    }
                }
                &-download-stroke, &-download-filled {
                    font-size: 2.6rem;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.3rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 2.6rem;
                    }
                }
                &-plus-stroke, &-plus-filled {
                    font-size: 2.4rem;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.1rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 2.4rem;
                    }
                }
                &-dollar-stroke, &-dollar-filled {
                    font-size: 3rem;
                    @media (max-width: $sw-sm-max) {
                        font-size: 2.5rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        font-size: 3rem;
                    }
                }
                &-exit {
                    font-size: 2rem;
                }
            }
            &__name {
                max-width: 6.8rem;
                transition: transform .3s ease, opacity .2s ease;
                overflow: hidden;
                opacity: 0;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 1.3;
                display: block;
                color: #ffffff;
                top: 50%;
                position: absolute;
                left: 4.5rem;
                transform: translate(-20px, -50%) translateZ(0);
                @media (max-width: $sw-sm-max) {
                    left: 4.1rem;
                }
                @media (max-width: $sw-xs-max) {
                    color: $dark;
                    opacity: 1;
                    position: relative;
                    transform: none;
                    left: auto;
                    top: auto;
                    margin-left: 1rem;
                }
                .is-opened & {
                    opacity: 1;
                    transform: translate(0, -50%) translateZ(0);
                }
                .nav-menu__list__item.is-active & {
                    font-weight: 600;
                }
            }
        }
        &__person {
            display: none;
            @media (max-width: $sw-xs-max) {
                display: flex;
                position: absolute;
                bottom: 0;
                right: 2.5rem;
                .icon {
                    font-size: 10.4rem;
                }
            }
        }
    }
}