mixin c-sidebar(data)
	nav.nav-menu
		.nav-menu__inner
			.nav-menu__side.top-side
				button.nav-menu__resizer.js-menu-resizer(type="button")
					+svg('icon-arrow')
				a.nav-menu__home(href="javascript:void(0)")
					+svg('icon-house-filled')
				button.nav-menu__trigger.js-menu-trigger(type="button")
					+svg('icon-burger')
			.nav-menu__list-wrap
				button.nav-menu__list__close.js-menu-close(type="button")
					+svg('icon-close')
				ul.nav-menu__list.h-reset-list
					each item in data.items
						li.nav-menu__list__item(class='' + item.active ? item.active : '')
							a(href="javascript:void(0)")
								.nav-menu__list__item__icon
									.icon-stroke
										+svg(item.stroke)
									.icon-filled
										+svg(item.filled)
								span.nav-menu__list__item__name!= item.name
					li.nav-menu__list__item.item-log-out
						a(href="javascript:void(0)")
							.nav-menu__list__item__icon
								+svg('icon-exit')
							span.nav-menu__list__item__name Выйти
				.nav-menu__list__person
					+svg('icon-man')
			.nav-menu__side.bottom-side
				button.noties-trigger.active.js-noties-trigger(type="button")
					+svg('icon-ring')
				.nav-menu__list__item
					a(href="javascript:void(0)")
						.nav-menu__list__item__icon
							+svg('icon-exit')
						span.nav-menu__list__item__name Выйти